.popup-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #b3b3b3;
  cursor: pointer;
}

.popup {
  position: absolute;
  z-index: 100;

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  padding: 32px 24px;
  overflow-y: auto;

  background-color: var(--color-white);
  cursor: auto;

  @media(min-width: 768px) {
    height: unset;
    max-height: 100vh;
    padding: 32px;

    border-radius: 30px;
  }
}

.popup__salary {
  margin: 0;
  padding: 0;

  border: none;
}

.popup__legend {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 18px;

  @media(min-width: 768px) {
    margin-bottom: 22px;

    font-size: 28px;
  }
}

.popup__description {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey-dark);

  @media(min-width: 768px) {
    font-size: 14px;
    line-height: 24px;
  }
}

.popup__data {
  position: relative;

  margin-top: 26px;
  margin-bottom: 12px;
}

.popup__data-label {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 14px;
}

.popup__data-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  color: var(--color-grey);

  border: 1px solid var(--color-grey);
  border-radius: 3px;

  &:hover {
    border-color: var(--color-black);
  }

  &:focus {
    color: var(--color-black);
  }

  &:disabled {
    color: var(--color-grey-dark);

    border-color: var(--color-grey-dark);
  }

  &:valid {
    color: var(--color-black);
  }

  &:invalid {
    border-color: var(--color-red);
    outline: none;
    box-shadow: none;

    & + .popup__data-none {
      position: absolute;
      bottom: -24px;
      left: 0;

      display: inline-block;

      font-size: 10px;
      color: var(--color-red);
    }
  }
}

.popup__data-none {
  display: none;
}

.popup__btn-close {
  position: absolute;
  top: 20px;
  right: 12px;

  width: 20px;
  height: 20px;

  font-size: 0;

  background: transparent;
  border: none;
  cursor: pointer;

  @media(min-width: 768px) {
    top: 22px;
    right: 20px;

    width: 24px;
    height: 24px;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;

    width: 3px;
    height: 16px;

    background: var(--color-red);
    border-radius: 100%;

    @media(min-width: 768px) {
      width: 4px;
      height: 24px;
    }
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
