.popup {
  position: absolute;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 740px;
  padding: 32px 24px;

  background-color: var(--color-white);
}

.popup__salary {
  margin: 0;
  padding: 0;

  border: none;
}

.popup__legend {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 18px;
}

.popup__description {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
  color: var(--color-grey-dark);
}

.popup__data {
  position: relative;

  margin-top: 26px;
  margin-bottom: 12px;
}

.popup__data-label {
  display: inline-block;
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 14px;
}

.popup__data-input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;

  color: var(--color-grey);

  border: 1px solid var(--color-grey);
  border-radius: 3px;

  &:hover {
    border-color: var(--color-black);
  }

  &:focus {
    color: var(--color-black);
  }

  &:disabled {
    color: var(--color-grey-dark);

    border-color: var(--color-grey-dark);
  }

  &:valid {
    color: var(--color-black);
  }

  &:invalid {
    border-color: var(--color-red);
    outline: none;
    box-shadow: none;

    & + .popup__data-none {
      position: absolute;
      bottom: -24px;
      left: 0;

      display: inline-block;

      font-size: 10px;
      color: var(--color-red);
    }
  }
}

.popup__data-none {
  display: none;
}

.popup__btn-close {
  position: absolute;
  top: 20px;
  right: 12px;

  width: 20px;
  height: 20px;

  font-size: 0;

  background: transparent;
  border: none;
  cursor: pointer;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;

    width: 3px;
    height: 16px;

    background: var(--color-red);
    border-radius: 100%;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.popup__btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: auto;
  padding: 12px;

  font-weight: 500;
  font-size: 12px;
  color: var(--color-white);

  background: var(--gradient-red);
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 24px rgba(234, 0, 41, 0.33);
  cursor: pointer;

  &:hover {
    color: var(--color-white);

    background: var(--color-red);
  }

  &:active {
    color: var(--color-white);

    background: var(--color-red);
  }

  &:disabled {
    color: var(--color-white);

    background: var(--color-grey);
  }
}
