.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(255.35deg, var(--color-red1) 0.83%, rgba(255, 79, 79, 0) 108.93%), var(--color-red2);
}

.app__btn-ded {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  font-weight: 500;
  font-size: 12px;
  color: var(--color-white);

  background: transparent;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  cursor: pointer;
  filter: drop-shadow(0px 0px 44px var(--color-light));

  &:hover {
    color: var(--color-black);

    background: var(--color-white);
  }

  &:active {
    color: var(--color-black);

    background: var(--color-white);
  }

  &:disabled {
    color: var(--color-white);

    background: var(--color-grey);
    border-color: var(--color-grey);
  }
}
