/* Medium */
@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "LabGrotesque";

  src: local("LabGrotesque Medium"),
  local("LabGrotesque-Medium"),
  url("../fonts/LabGrotesque-Medium.ttf") format("truetype"),
  url("../fonts/LabGrotesque-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/LabGrotesque-Medium.woff") format("woff");
}

/* Regular */
@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "LabGrotesque";

  src: local("LabGrotesque Regular"),
  local("LabGrotesque-Regular"),
  url("../fonts/LabGrotesque-Regular.ttf") format("truetype"),
  url("../fonts/LabGrotesque-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/LabGrotesque-Regular.woff") format("woff");
}

/* Light */
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "LabGrotesque";

  src: local("LabGrotesque Light"),
  local("LabGrotesque-Light"),
  url("../fonts/LabGrotesque-Light.ttf") format("truetype"),
  url("../fonts/LabGrotesque-Light.eot?#iefix") format("embedded-opentype"),
  url("../fonts/LabGrotesque-Light.woff") format("woff");
}
