:root {
  --color-black: #000000;
  --color-grey: #bec5cc;
  --color-grey-btn: #eef0f2;
  --color-grey-dark: #808080;
  --color-grey-light: #cfdae7;
  --color-orange: #f53a31;
  --color-red: #ea0029;
  --color-red1: #dc3131;
  --color-red2: #ff5e56;
  --color-white: #ffffff;
  --gradient-red: linear-gradient(255.35deg, var(--color-red1) 0.83%, rgba(255, 79, 79, 0) 108.93%), var(--color-red2);
}
